<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Reports</a></li>
        <li><a href="#">Analytics</a></li>
        <li><a href="#">Export</a></li>
      </ul>
      <ul class="nav nav-sidebar">
        <li><a href="">Nav item</a></li>
        <li><a href="">Nav item again</a></li>
        <li><a href="">One more nav</a></li>
        <li><a href="">Another nav item</a></li>
        <li><a href="">More navigation</a></li>
      </ul>
      <ul class="nav nav-sidebar">
        <li><a href="">Nav item again</a></li>
        <li><a href="">One more nav</a></li>
        <li><a href="">Another nav item</a></li>
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">Dashboard</h1>

               <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#ID</th>
              <th>Margin</th>
              <th>Profit</th>
              <th>Risk rating</th>
              <th>Timeframe</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @asteroids.each do |asteroid| %>
              <% p asteroid %>
              <tr>
                <td><%= asteroid["full_name"] %></td>
                <td><%= (100*asteroid["profit"]/asteroid["price"]).round %> %</td>
                <td><%= number_to_human((asteroid["profit"]).round(-6)) %></td>
                <td><%= (100*(asteroid["closeness"]-2400)/asteroid["closeness"]).round(2) %> %</td>
                <td><%= (asteroid["closeness"]/365).round  %> years</td>
                <td><%= link_to "INVEST", root_path,  data: { confirm: 'Are you sure you want to invest in this asteroid?' }, :class => "btn btn-success"  %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="container">

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Your Website 2014</p>
            </div>
        </div>
    </footer>

</div>
<!-- /.container -->
